<app-banner1></app-banner1>
<section class="job-area job-area-two pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="job-item wow fadeInUp" data-wow-delay=".3s">
                    <img src="assets/img/home-1/jobs/1.png" alt="Job">
                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>
                                <a routerLink="/job-details">UI/UX Designer</a>
                            </h3>
                            <a class="company" routerLink="/company-details">Winbrans.com</a>
                            <ul>
                                <li>
                                    <i class="icofont-money-bag"></i>
                                    $20k - $25k
                                </li>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    Location 210-27 Quadra, Market Street, Victoria Canada
                                </li>
                            </ul>
                        </div>
                        <div class="job-inner-right">
                            <ul>
                                <li>
                                    <a routerLink="/create-account">Apply</a>
                                </li>
                                <li>
                                    <span>Full Time</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="job-item wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/home-1/jobs/2.png" alt="Job">
                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>
                                <a routerLink="/job-details">Android Developer</a>
                            </h3>
                            <a class="company" routerLink="/company-details">Infiniza.com</a>
                            <ul>
                                <li>
                                    <i class="icofont-money-bag"></i>
                                    $20k - $25k
                                </li>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    Location 210-27 Quadra, Market Street, Victoria Canada
                                </li>
                            </ul>
                        </div>
                        <div class="job-inner-right">
                            <ul>
                                <li>
                                    <a routerLink="/create-account">Apply</a>
                                </li>
                                <li>
                                    <span>Part Time</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="job-item wow fadeInUp" data-wow-delay=".3s">
                    <img src="assets/img/home-1/jobs/3.png" alt="Job">
                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>
                                <a routerLink="/job-details">Senior Manager</a>
                            </h3>
                            <a class="company" routerLink="/company-details">Glovibo.com</a>
                            <ul>
                                <li>
                                    <i class="icofont-money-bag"></i>
                                    $20k - $25k
                                </li>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    Location 210-27 Quadra, Market Street, Victoria Canada
                                </li>
                            </ul>
                        </div>
                        <div class="job-inner-right">
                            <ul>
                                <li>
                                    <a routerLink="/create-account">Apply</a>
                                </li>
                                <li>
                                    <span>Intern</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="job-item wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/home-1/jobs/4.png" alt="Job">
                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>
                                <a routerLink="/job-details">Product Designer</a>
                            </h3>
                            <a class="company" routerLink="/company-details">Bizotic.com</a>
                            <ul>
                                <li>
                                    <i class="icofont-money-bag"></i>
                                    $20k - $25k
                                </li>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    Location 210-27 Quadra, Market Street, Victoria Canada
                                </li>
                            </ul>
                        </div>
                        <div class="job-inner-right">
                            <ul>
                                <li>
                                    <a routerLink="/create-account">Apply</a>
                                </li>
                                <li>
                                    <span>Part Time</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>