<app-header></app-header>
<app-banner1></app-banner1>
<div class="create-account-area pt-50 pb-100">
    <div class="container">
        <div class="login-wrap">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="jobseeker-item">
                        <div class="jobseeker-icon">
                            <i class="flaticon-recruitment"></i>
                        </div>
                        <div class="jobseeker-inner">
                            <span>Company</span>
                            <h3>Signup as a Company</h3>
                        </div>
                        <p routerLink="/company-register">Get Started
                            <i class="icofont-arrow-right"></i>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="jobseeker-item">
                        <div class="jobseeker-icon">
                            <i class="flaticon-job-search"></i>
                        </div>
                        <div class="jobseeker-inner">
                            <span>Candidate</span>
                            <h3>Signup as a Candidate</h3>
                        </div>
                        <p routerLink="/candidate-register">Get Started
                            <i class="icofont-arrow-right"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-photo">
            <div class="already-create">
                <span>Already create an account?</span>
                <a routerLink="/login">Sign In</a>
            </div>
        </div>
    </div>
</div>